
<h1>colours and nouns pro</h1>

<div id="colours">
  <div id="red" class="colour">
    <a class="link" href=""></a>
  </div>
  <div id="pink" class="colour">
    <a class="link" href=""></a>
  </div>
  <div id="green" class="colour">
    <a class="link" href=""></a>
  </div>
  <div id="blue" class="colour">
    <a class="link" href=""></a>
  </div>
  <div id="purple" class="colour">
    <a class="link" href=""></a>
  </div>
</div>
